@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Light mode */
:root {
  --bg-main: #DEDEDE;
  --bg-sidebar: #C8C8C8;
  --hover-sidebar: #B0B0B0;
  --text-primary: #363636;
  --text-secondary: #5E5E5E;
}

/* Dark mode */
.dark {
  --bg-main: #1F1F21;
  --bg-sidebar: #18181A;
  --hover-sidebar: #2A2A2C;
  --text-primary: #F8FAFC;
  --text-secondary: #94A3B8;
}

/* Cores fixas */
:root {
  --color-surface: #1A2A54;
  --color-border: #2A3B69;
  --color-accent: #933BBC;
  --color-success: #0F835D;
  --color-danger: #933232;
  --color-warning: #C88E2C;
}

@theme inline {
  /* Cores dinâmicas */
  --color-bg-main: var(--bg-main);
  --color-bg-sidebar: var(--bg-sidebar);
  --color-hover-sidebar: var(--hover-sidebar);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  /* Cores fixas */
  --color-surface: var(--color-surface);
  --color-border: var(--color-border);
  --color-accent: var(--color-accent);
  --color-success: var(--color-success);
  --color-danger: var(--color-danger);
  --color-warning: var(--color-warning);

  /* Fontes */
  --font-sans: var(--font-inter), "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: var(--bg-main);
  color: var(--text-primary);
}